* {
  margin: 0;
}

.window {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  text-align: center;
  right: 0;
  left: 0;
  z-index: 9;
}